@import './node_modules/tachyons/css/tachyons.css';
@import './node_modules/peacock/styles/tango.css';
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

.code-view,
.highlight pre {
  font-size: 13px;
  font-family: 'Source Code Pro', monospace;
  overflow-x: auto;
  overflow-y: hidden;
  overflow: scroll;
}

.code-view a,
.highlight a {
  text-decoration: none;
}

.tab-header:focus {
  outline: none;
}

/* Scrollbar on left for Code View */
.code-view {
  direction: rtl;
}

.code-view > div {
  direction: ltr;
}

.code-view .selected {
  background: yellow;
  padding: 2px;
}

.vh-85 { height: 85vh; }
.vh-15 { height: 15vh; }
