@import './node_modules/tachyons/css/tachyons.css';
@import './node_modules/peacock/styles/tango.css';
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

.highlight pre {
  font-size: 13px;
  font-family: 'Source Code Pro', monospace;
}

.highlight a {
  text-decoration: none;
}

/* Scrollbar on left for Code View */
.code-view {
  direction: rtl;
}

.code-view > div {
  direction: ltr;
}

.code-view .selected {
  background: yellow;
  padding: 2px;
}

.vh-85 { height: 85vh; }
.vh-15 { height: 15vh; }
